colorlog
python-telegram-bot
pydub
huggingface-hub
python-dotenv
dependency-injector
moviepy
dropbox
whisperx
sievedata
deepgram-sdk>=3.*,<4.0
python-docx
selenium
sounddevice
flask
platformdirs
pymilvus
sentence_transformers
tzlocal
thefuzz
open-webui
faiss
fastapi==0.115.12
python-multipart==0.0.20
uvicorn==0.34.0
dependency-injector==4.46.0
tzlocal==5.3.1
selenium==4.30.0
obs-websocket-py==1.0
Flask==3.1.0
flask-cors==5.0.1
faiss-cpu==1.10.0
sentence-transformers==3.4.1